body {
    color: black;
    width: 100%;
    height: 100%;
}

main, footer {
    background-color:  #E5E5E5;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border-radius: 28px;
    border: none;
    font-family: 'Open Sans', serif;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    font-weight: bold;
    font-size: 30px;
    padding: 18px 28px;
}

button:hover {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
}

h1 {
    font-family: 'Open Sans', serif;
    font-size: 55px;
    line-height: 30px;
    font-weight: bold;
}

h2 {
    font-family: 'Open Sans', serif;
    font-weight: bold;
    font-style: normal;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

.header {
    margin: 18px 90px 0 80px;
}

.logo {
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 20px;
}

.nav_item {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    padding: 10px;
    color: black;
}

.nav_item.main {
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 10px;
}

.nav_phone:hover {
    text-decoration: underline;
    color: #3F3D56;
    opacity: 1;
}

.nav button:hover {
    opacity: 0.7;
}

.nav_phone {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #3F3D56;
    margin: 0 20px 0 24px;
}

.nav button {
    font-size: 20px;
    border-radius: 20px;
    color: white;
    padding: 10px 7px;
}

.container1 {
    display: flex;
    padding-left: 90px;
    padding-top: 25px;
}

.cont1-flex {
    display: flex;
    flex-direction: column;
}

.container1 h1 {
    margin-top: 40px;
    margin-bottom: 130px;
}

.container1 h2 {
    font-size: 40px;
    line-height: 20px;
    margin-bottom: 40px;
}

ins {
    text-decoration-color: #B4ABAB;
    text-underline-offset: 35px;
    text-decoration-thickness: 4px;
}

.container1 p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.container1 img {
    width: 700px;
    height: 700px;
}

.line1 {
    width: 190px;
    height: 0;
    border: 3px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 5px;
    margin-top: 5px;
}

.container2 {
    padding-left: 102px;
    flex-direction: row;
}

.cont2-flex {
    display: flex;
    flex-direction: column;
}

.cont2-flex-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container2 h1 {
    margin-top: 20px;
    margin-bottom: 105px;
    text-align: center;
}

.container2 h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
}

.container2 p {
    font-family: 'Open Sans', serif;
    font-size: 25px;
    line-height: 30px;
}

.container2 img {
    width: 645px;
    height: 320px;
    margin-right: 100px;
    margin-top: 26px;
}

.container3 {
    margin-top: 140px;
}

.advantages_list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 115px;
}

.advantage {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.08), 0 0.5px 6px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    width: 249px;
    height: 211px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.advantage .icon {
    margin: -40px auto auto;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-color: #E5E5E5;
    border-style: solid;
    border-width: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantage p {
    font-size: 20px;
    font-family: 'Open Sans', serif;
    text-align: center;
    display: block;
    margin: 7px 10px 5px 10px;
}

.advantage h5 {
    font-size: 20px;
    font-family: 'Open Sans', serif;
    text-align: center;
    font-weight: bold;
    display: block;
    border-bottom: 3px solid #B4ABAB;
    padding-bottom: 15px;
    margin: 8px 20px 5px 20px;
}

.add h5{
    padding-bottom: 30px;
}

.container4 {
    margin-left: 70px;
    margin-top: 120px;
    margin-bottom: -750px;
}

.container4 h1 {
    text-align: center;
    font-size: 50px;
    color: #3F3D56;
    margin-top: 120px;
    padding-bottom: 90px;
}

.choices_list h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 12px;
    margin-left: 32px;
}

.choices_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}

.choice-12, .choice-34 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1300px;
    margin-left: 60px;
}

.choices_list .pointer-line {
    margin: 2px 30px 2px -30px;
    padding-top: 0;
    padding-bottom: 0;
}

.choice {
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 13px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    width: 525px;
    height: 305px;
    margin: 10px 10px;
}

.choice .arrow {
    z-index: 1;
    margin-left: 20px;
    margin-top: -100px;
    margin-bottom: 30px;
    cursor: pointer;
}

.choice .arrow1 {
    margin-top: -40px;
    margin-left: 20px;
    cursor: pointer;
}

.choice .arrow2 {
    margin-top: -60px;
    margin-left: 20px;
    cursor: pointer;
}

.choice .white-bg {
    position: sticky;
    margin-top: 2px;
    width: 201px;
    height: 210px;
    margin-left: 280px;
}

.choice .icon {
    position: sticky;
    z-index: 1;
    margin-top: -270px;
    width: 260px;
    margin-left: 200px;
}

.woman img {
    margin-top: 8px;
}

.woman_man img {
    margin-top: 235px;
}

.container5 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 730px;
    margin-bottom: 90px;
}

.cont5-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container5 h1 {
    text-align: center;
    font-size: 50px;
    padding-top: 120px;
    top: 1px;
}

.container5 h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 73px;
}

.cont5-buttons {
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 390px;
}

.container5 button {
    font-weight: 1000;
    font-size: 30px;
    line-height: 20px;
    border-radius: 20px;
    padding: 18px 28px;
}

.btn2 {
    background: none;
}

.btn2:hover {
    border: none;
}

.container6-7 h2{
    font-family: 'Source Sans Pro', serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 30px;
}

.container6-7 p {
    font-family: 'Open Sans', serif;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 12px;
}

.container6-7 button {
    width: 275px;
    margin-top: 37px;
    align-items: center;
    padding: 22px 32px;
    border-radius: 7px;
    font-size: 25px;
    opacity: 1;
}

.container6-7 button:hover {
    opacity: 0.8;
}

.preorder-img img {
    margin-left: 100px;
}

.container6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 50px;
}

.pointer-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 19px;
    cursor: pointer;
}

.left-pointer:hover, .right-pointer:hover {
    transform: scale(1.040);
}

.container7 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 150px;
}

.preorder {
    margin-right: 30px;
}

.container6-7 {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container8 h1 {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 140px;
}

.cont8-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}

.container9 {
    margin-top: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 40px;
}

.cont9-heba {
    display: flex;
    flex-direction: column;
}

.container9 button {
    width: 275px;
    height: 63px;
    margin-top: 21px;
    align-items: center;
    padding: 22px 32px;
    border-radius: 7px;
    font-size: 25px;
    opacity: 1;
}

.container9 button:hover {
    opacity: 0.8;
}

.container9 h1 {
    margin-left: -30px;
}

.container9 h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 19px;
}

.container9 p {
    font-family: 'Open Sans', serif;
    font-size: 20px;
    line-height: 30px;
}

.cash-register-background {
    position: relative;
    z-index: 1;
    margin-top: 30px;
}

.register {
    position: absolute;
    z-index: 2;
    margin-left: -500px;
    margin-top: 160px;
}

.cash-register .pointer-line {
    display: flex;
    justify-content: space-between;
    width: 540px;
    position: absolute;
    z-index: 2;
    margin-top: -330px;
    margin-left: 100px;
}

.cash-register .circles {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -130px;
    margin-left: 350px;
}

.cash-register h2 {
    font-size: 40px;
    line-height: 20px;
    margin-left: 260px;
    margin-top: 1px;
}

.container10 h1 {
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 160px;
}

.cont10-buttons {
    width: 740px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    margin-left: 380px;
}

.container10 h3 {
    font-family: Open Sans, sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 73px;
}

.container11 {
    margin-top: 163px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select-items {
    margin-top: -13px;
    display: flex;
    flex-direction: column;
    width: 430px;
    height: 679px;
    justify-content: space-between;
}

.select-items p {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #898989;
    line-height: 25px;
}

select {
    width: 553px;
    height: 70px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    border: none;
    padding: 5px 100px 5px 8px;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
}

.block2-flex img {
    width: 25px;
    height: 25px;
    margin-left: 550px;
    margin-top: 0;
}

.block2-flex {
    display: flex;
    flex-direction: column;
}

.block2 p {
    margin-bottom: 0;
}

.block4 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.block4 a:hover {
    cursor: pointer;
    transform: scale(1.025);
}

.block4 img {
    margin-top: 31px;
}

.block4 p {
    color: black;
    font-size: 25px;
    margin: 55px auto 25px 15px;
}

.block5-input {
    width: 552px;
    height: 70px;
    border: none;
    border-radius: 7px 7px 3px 3px;
    color: black;
    font-size: 25px;
    line-height: 25px;
}

.slider img {
    width: 555px;
    margin-top: -30px;
}

.container11 {
    font-family: 'Open Sans', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 300px;
}

.calculation {
    background-color: white;
    width: 430px;
    height: 679px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 13px rgba(0, 0, 0, 0.08);
    border-radius: 7px;
    padding: 0 20px 65px 23px;
    margin-left: 248px;
}

.calculation p {
    font-size: 25px;
    line-height: 35px;
    color: #898989;
}

.calculation h2 {
    font-weight: normal;
    font-size: 50px;
    line-height: 12px;
    color: black;
}

.calculation button {
    width: 384px;
    height: 83px;
    background: linear-gradient(70.6deg, #35CC79 10.03%, rgba(52, 125, 85, 0.65) 139.7%);
    border-radius: 7px;
    color: white;
    font-size: 25px;
    border: none;
    margin-top: 88px;
    margin-left: 25px;
    opacity: 1;
}

.calculation button:hover {
    opacity: 0.8;
}

.calculation h4 {
    font-size: 40px;
    line-height: 12px;
    color: #898989;
    font-weight: normal;
}

.line {
    width: 382px;
    height: 0;
    border: 3px solid #B4ABAB;
    background-color: #B4ABAB;
    margin-bottom: 35px;
    margin-top: 35px;
}

footer {
    background-image: url("img/footer.svg");
    background-size: 1550px;
}

.container12 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 160px;
}

.sect1 h2 {
    font-weight: normal;
    font-size: 55px;
    line-height: 110%;
    margin-bottom: 78px;
}

.sect1 img {
    width: 227px;
    height: 75px;
}

.sect2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 550px;
}

.sect2 input {
    font-family: 'Open Sans', serif;
    font-size: 25px;
    line-height: 25px;
    border: none;
}

.container12 p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 4px;
}

.container12 input {
    width: 385px;
    height: 70px;
    top: 36px;
    border-radius: 7px;
}

.agree input {
    width: 395px;
    height: 60px;
    left: 785px;
    top: 579px;
}
.agree-icon {
    display: flex;
    flex-direction: row;
}

.agree-icon p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 50px;
    margin-bottom: 48px;
}

.agree-icon img {
    border: black;
    width: 20px;
    height: 20px;
    margin-top: 52px;
    margin-right: 15px;
}

.container12 button {
    align-items: center;
    padding: 22px 32px;
    width: 384px;
    height: 83px;
    background: #FFFFFF;
    border-radius: 7px;
    border-color: #FFFFFF;
}

.container12 button:hover {
    transform: scale(1.010);
}

.container13 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 256px;
    margin-bottom: 72px;
}

.cont13-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    align-content: center;
}

.container13 p {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 110%;
    opacity: 0.7;
    margin-bottom: 13px;
}

.container13 a {
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    color: black;

}

.container13 hr {
    width: 294px;
    height: 1px;
    background-color: black;
    border: none;
}

.inform {
    margin-top: 40px;
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    opacity: 0.7;
}











